<%= render 'partials/user_card', user: @user %>
<ul class='posts-list'>
  <% @posts.each do |post| %>
    <li>
      <%= link_to "/users/#{@user.id}/posts/#{post.id}" do %>
        <%= render 'partials/post_card', post: post %>
      <% end %>
      <% if post.commentsCounter > 0 %>
        <div class='comments-box'>
          <% @comments = post.five_most_recent_comments %>
          <% @comments.each do |comment| %>
            <% @users = User.where(id: comment.author_id) %>
            <% @users.each do |user| %>
              <h4><%= user.name %>: <%= comment.text %></h4>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <div class='comments-box'>No comments yet</div>
      <% end %>
    </li>
  <% end %>
</ul>
<button class='pagination-button'>Pagination</button>

